* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    transition: all ease-in-out 0.3s;
}

body {
    background-color: #F3F3F3;
}

header {
    display: flex;
    box-shadow: 0px 4px 6px 0px #0000000D;
    align-items: center;
    justify-content: space-between;
    padding: 15px 20px;
    background-color: #FFF;
}